@font-face
{
    font-family: Roboto-Light;
    src: url(/static/fonts/Roboto-Light.ttf);
}

@font-face
{
    font-family: Roboto-Bold;
    src: url(/static/fonts/Roboto-Bold.ttf);
}

@font-face
{
    font-family: Roboto-Black;
    src: url(/static/fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/static/fonts/Roboto-Black.ttf) format('truetype');
}


.fblock{
    background-color:#002343;
    height: 100%;
}

.mapp{
    height: 467px;
    background-color: #919191;
    position: absolute;
}


body{
    margin: 0 !important;
}

.tel {
    background-image: url(/static/img/truck.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.offer_statistick {
    background-image: url(/static/img/offer_stat_back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.manpic{
    position: absolute;
    margin-top: 86px;
    margin-bottom: 40px;
}
.trapeciya{
    position: relative;
    width: 524px;    
    top: 34px;
    left: -15px;
    z-index: 1;
    height: 94px;
}
.trapeciya img{
    position: absolute;
    height: 100%;
}
.bigtrapeciya{   
    position: relative;
    height: 176px;    
    width: 850px;   
    top: -9px;
    left: -15px;
    z-index: 0;
}
.bigtrapeciya img{
    position: absolute;
    height: 100%;
}
.mainblock{
    height: 809px;
    position: relative;
}
.trapeciya p {
    font-family: Roboto-Bold;
    color:  #ffffff;
    font-size: 28px;/* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    text-align: left;
    margin: 0;
    padding-left: 25px;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;
}
 .phoneform .form-group form{
    position: relative;
}
.bigtrapeciya p{
    font-family: Roboto-Bold;
    color:  #ffffff;
    font-size: 40px;/* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    text-align: left;
    margin: 0;
    text-transform: uppercase;
    padding-left: 25px;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;
}
.centered label {
    font-weight: 100;
}
.pbtr{
    padding-top: 49px;
}
.ptr{
    padding-top: 6px;
}
.timer h3{
    font-family: Roboto;
    text-align: center;
    color:  rgba(66, 66, 66, 0.95);
    font-weight: 700; 
    font-size: 17px;
}
.timer{
    z-index: 1;
    letter-spacing: 1px;
}
.timerpic{
    position: relative;
    z-index: 1;
    padding-top: 51px;
}
.timerpic img{
    position: absolute;
    width: 100%;
    top: -14px;
}
#timer1646ddefd971d054289bd2626a40db6a0{
    display: none;
    text-align: center;
}
#timer1646ddefd971d054289bd2626a40db6a{
    position: relative;
}
.timer-flipchart-card{
    border: 1.25px solid #C0C0C0;
}
.timer-separator{
    font-weight: 700;
}
.phoneform{
    padding-top: 60px;  
    text-align: center;
}
.tel2 input{
    text-align: left;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color:  #b3b0a4;
    box-sizing: border-box;
    width: 364px;
    height: 64px;
    padding-left: 20px;
    display: block;
    margin: auto;
}

.hz-che {
    position: relative;
    height: 467px;
    display: none;
}

.yb button{
    margin-top: 20px;
    background-color:  #ffd200;
    box-shadow: 0px 23px 54px 0px rgba(24, 19, 20, 0.39);
    width: 364px;
    height: 64px;
    border: none;   
    display: inline-block;   
    text-align: center; 
        text-decoration: none;
    font-family: Roboto-Medium;
    font-size: 17px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    color: #324d7c;
    letter-spacing: 0.7px;
}
.yb button:hover{
    filter: sepia(80%);
    transition: 0.5s;
}
.navbutton2:hover{
    filter: sepia(80%);
    transition: 0.5s;
}
   
p{
    margin-bottom: 0 !important;
}
.checkb{
    margin-top: 20px !important;
    margin-left: 77px !important;
    text-align: left;
}

.checkb p{
    font-family: Roboto-Bold;
    color:  rgba(66, 66, 66, 0.35);
    font-size: 13px;
    font-weight: 400;
    margin-top: -24px;
    margin-left: 35px;
}
.checkb a{
    text-decoration:  underline;
    color:  rgba(66, 66, 66, 0.35);
}

.hcontainer{
    height:55px;    
    padding: 0 !important;
}


.menu
{
  font-size: 15px;
  padding-top: 10px;
  letter-spacing: 1.6px;
}

.menu a
{
    color: white;
    font-family: Roboto-Bold;
    font-weight: 500;
    line-height: 12px!important;
}

.menu a:hover
{
    color: white;
    font-family: Roboto-Bold;
    font-weight: 500;
    line-height: 12px;
}

.menu li:first-child a{
    padding-left: 0 !important;

}
.menu li:last-child a{
    padding-right: 0 !important;
}

.container .mainblock{
    padding-left: 21px !important;
}
#map{
    height: 467px;
    position: relative;
    width: 100%;
}
.gklogo{
    position: relative;
    overflow: hidden;
    height: 85px;
}
.gklogo img{
        height: 80px;
        width: 100%;
        position: absolute;

}
.textonlogo{
    position: relative;
    letter-spacing: 2px;
    text-align: left;
    height: 100px;
}
.textonlogo a:hover{
    text-decoration: none;
}

.logotext
{
    color: #ffd200;
    font-size: 34px;
    font-family: Roboto-Bold;
}

.logosubtext
{
    color: #ffd200;
    font-size: 14px;
    font-family: Roboto-Bold;
    font-weight: 100;
}
#arrow-up{

}
.prava{
    padding-top: 40px;
    font-family: Roboto;
    color:  #808080;
    font-size: 10px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    position: relative;
}
.prava a{
    color:  #808080;
    text-decoration: underline;
}
.prava a:hover{
    color:  #ffd200;
    text-decoration: underline;
}
.number-zayavka{
    text-align: center;
}
.number-zayavka img{
    position: relative;
}
.number-zayavka a{
    font-family: Roboto;
    color:  #ffd200;
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    transform: scaleX(1.0001);
}
.number-zayavka a:hover{
    color: #ffd200;
}
.navbutton2
{
    background-color: #ffd200;
    border: none;
    color: #324d7c;
    padding: 14px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-family: Roboto-Medium;
    border-radius: 3px;
    margin-top: 20px;
    letter-spacing: 0.7px;

}
.foot-adress{
    text-align: left;
}
.foot-adress p{
    margin-left: 30px;
    font-family: Roboto;
    color:  #ffffff;
    font-size: 16.95px;
    font-weight: 400;
    text-align: left;
    transform: scaleX(1.0019);
    letter-spacing: 1px;
}
.foot-adress img{
    float: left;
} 
.foot-adress a{
    margin-top: 10px;
    margin-left: 10px;
    font-family: Roboto;
    color:  #ffffff;
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    transform: scaleX(1.0001);
    letter-spacing: 1px;
    }
.mail-padding{
    padding-top: 20px;
}
.foot-adress a:hover{
    color: #ffd200;
}
.lilcircle2{
    margin: auto;
    border: 2px solid white;
    width: 32px;
    height: 32px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    margin-right: 3px;
}
.contlist2
{
    display: inline-block;
    text-decoration: none;
    padding: 0;
}
.no-mobile-padding{

}
.centered
{
    text-align: center;
}
.lilcircle2 i
{
    line-height: 28px;
    font-size: 20px;
    width: 28px;
    height: 28px;
}
.socials{
    padding-top: 40px;
    color: white;
}
.lilcircle2 a{
    color: white;
}
.lilcircle2 a:hover{
    color: #ffd200;
}
.lilcircle2:hover{
    border: 2px solid #ffd200;
}
.logo-factory{
    padding-top: 20px;
}
.logo-factory img{
}
.lf-text a
{
    float: right;
    font-family: Roboto;    
    font-size: 9.88px;
    font-weight: 400;
    text-align: center;
    color:  #808080;
    padding-right: 10px;

}
.lf-text a:hover{
    color: #ffd200;
}

.checkb label {
    width: 18px;
    height: 16px;
    display: block;
    position: relative;
    margin-left: 3px;    
   }
   
    .checkb input[type="checkbox"]{
    display: none;
   }
   
    .checkb input[type="checkbox"] + span {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: url(/static/img/checkb.png) no-repeat;
    cursor: pointer;
    border-radius: 3px;
   }
    .checkb input[type="checkbox"]:checked + span {
    background-position: 0 -22px;
}
.checkb span{
    height: 18px !important;
}

 .secondcheckbox label{
          width: 20px;
         height: 18px;
        display: block;
        position: relative;
         margin-left: 3px; 
         margin-left: 110px;
        z-index: 2;
    }
    .secondcheckbox input[type="checkbox"]{
    display: none;
   }
    .secondcheckbox input[type="checkbox"] + span {
        position: absolute;
        left: 0; top: 0;
        width: 100%;
        height: 100%;
        background: url(/static/img/checkb.png) no-repeat;
        cursor: pointer;
   }
    .secondcheckbox input[type="checkbox"]:checked + span {
        background-position: 1px -21px; 
       }
    .secondcheckbox p{
    font-family: Roboto;
    color:  rgba(66, 66, 66, 0.35);
    font-size: 15px;
    font-weight: 400;
    margin-top: -24px;
    margin-left: 35px;
}
    .secondcheckbox a{
    text-decoration:  underline;
    color:  rgba(66, 66, 66, 0.35);
    }
    .secondcheckbox{
        margin-top: 20px;
        margin-bottom: 40px;
    }


    




    .thirdcheckbox label{
          width: 20px;
         height: 18px;
        display: block;
        position: relative;
         margin-left: 3px; 
         margin-left: 35px;
        z-index: 2;
    }
    .thirdcheckbox input[type="checkbox"]{
    display: none;
   }
    .thirdcheckbox input[type="checkbox"] + span {
        position: absolute;
        left: 0; top: 0;
        width: 100%;
        height: 100%;
        background: url(/static/img/checkb2.png) no-repeat;
        cursor: pointer;
   }
    .thirdcheckbox input[type="checkbox"]:checked + span {
        background-position: 1px -21px; 
       }
    .thirdcheckbox p{
    font-family: Roboto;
    color:  rgba(66, 66, 66, 0.35);
    font-size: 14px;
    font-weight: 500;
    margin-top: -24px;
    margin-left: 40px;
    text-align: center;
}
    .thirdcheckbox a{
    text-decoration:  underline;
    color:  rgba(66, 66, 66, 0.35);
    }
    .thirdcheckbox{
        margin-top: 20px;
    }




.arrow{
    position: fixed;
    border-radius: 50%;
    border: 2px solid white;
    width: 48px;
    height: 48px;
    right: -100px;
    text-align: center;
    background-color: #002343;
    right: 10px;
    bottom: 100px;
    z-index: 2;
    opacity: 0.4;
}
#arr.default{
    display: none;
}
#arr.fixed{
    display: block;
}
.arrow:hover{
    opacity: 1;
}

.arrow i{
    color: white;
    font-size: 35px;
    line-height: normal;
    margin-right: 2px;
}
.arrow a{
    width: 46px;
    display: inline-block;
    height: 46px;
}



/* АДАПТИВНОСТЬ*/




@media(min-width:0px) and (max-width: 767px)
{
         .secondcheckbox label{
         margin-left: 0;
    }
        .secondcheckbox p{
        font-family: Roboto;
        color:  rgba(66, 66, 66, 0.35);
        font-size: 15px;
        font-weight: 400;
        margin-top: -24px;
        margin-left: 35px;
    }
        .thirdcheckbox label{
         margin-left: 0;
    }
        .thirdcheckbox p{
        font-family: Roboto;
        color:  rgba(66, 66, 66, 0.35);
        font-size: 14px;
        font-weight: 400;
        margin-top: -24px;
        margin-left: 35px;
    }



    .hz-che {
        display: none;
    }

    .tel2 input{
        display: block;
        margin: auto;
    }
    .mapp{
        display: none;
    }
    .container .mainblock{
    }
    .trapeciya, .bigtrapeciya{
        top: 0;
        width: auto;
        height: auto;
        position: sticky;
        text-align: center;
    }
    .trapeciya p{
        font-size: 17px;
        text-align: center;
        padding: 0;
    }
    .row .container{
    }
    .trapeciya img{
        display: none;
    }
    .trapeciya{
        background-color: #003163;
    }
    .manpic{
        height: 100%;
    }
    .mainblock{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .container .mainblock{
        padding: 0 !important;
    }
    .bigtrapeciya img{
        display: none;
    }
    .bigtrapeciya{
        background-color: #001e41;
    }
     .bigtrapeciya p{
        font-size: 15px;
        text-align: center;
        padding: 0;
    }
    .trapeciya .ptr{
        width: auto;
        margin-top: 20px;
    }
    .bigtrapeciya .pbtr{
        margin-top: 20px;       
    }
    .timerpic img{
        display: none;
    }
    .timerpic {
        width: auto;
        height: auto;
        padding: 0;
    }
    #timer1646ddefd971d054289bd2626a40db6a{
        min-width: auto !important;
        height: auto !important;
        display: none;
    }
     #timer1646ddefd971d054289bd2626a40db6a0{
        height: auto !important;
        min-width: 0 !important;
        text-align: center !important;
        display: block;
    }
    .timer p{
        margin-top: 0;
    }
    .timerpic .pc{
        display: none;
    }
    .timerpic .mobile{
        display: block;
    }
   
    .phoneform .tel2 input,.yb button{
        width: 200px;
        height: 50px;
        padding-left: 10px;
    }
    .phoneform{
        padding-top: 20px;
    }
    .checkb {
        margin-left: 0 !important;
        margin-bottom: 0 !important;
        margin-top: 20 !important;
        text-align: center;
    }
    .checkb p{
       font-size: 11px;
       margin-top: -5px;
       margin-left: 10px;
    }
    .checkb label{
        position: absolute;
        margin-top: 15px;
        left: 50%;
        margin-left: -146px;
        bottom: 24px;
    }

    .fblock{
        height: auto;
        width: auto;
    }
    .row .no-mobile-padding{
        padding: 0 !important;
        height: 480px;
    }
    .timer h3{
        font-size: 13px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .yb button{
        margin-top: 20px;
    }
    .trapeciya p:last-child{
        margin-bottom: 20px !important;
    }
    .bigtrapeciya p:last-child{
        margin-bottom: 20px !important;
    }
    .menu li:first-child a 
    {
     padding-left: 15px !important;
    }
    .navbar-nav{
        margin: 0 !important;
        text-align: center;
    }
    .fblock .hcontainer{
        width: auto;
        height: auto;
    }
    .gklogo img{
        width: 150px;
        left: 50%;
        position: absolute;
        margin-left: -75px;
    }
    .gklogo{
        text-align: center;
    }
    .number-zayavka{
        padding-top: 50px;
    }
    .foot-adress{
        padding-top: 40px;
        text-align: center;
    }
    .foot-adress p{
        text-align: center;
        margin-left: 0;
    }
    .foot-adress a{
        text-align: center;
        margin-left: 0;
    }

    .foot-adress img{
        position: absolute;
        left: 50%;
        margin-left: -110px !important;
    }
    .prava{
        text-align: center;
    }
    .lf-text{
        padding-top: 20px;
        text-align: center;
    }
    .logo-factory{
        padding-top: 0;
        padding-left: 0;
        margin-top: 5px;
        text-align: center;
        padding-bottom: 20px;
    }
    .lf-text a{
        float: none;
        text-align: center;
        width: auto;
        height: auto;
    }
    .textonlogo{
        text-align: center;
    }
    .arrow{
        display: none;
    }

}
@media(min-width: 768px) and (max-width: 991px)
{   
    .secondcheckbox label{
         margin-left: 0;
    }
    .thirdcheckbox label{
         margin-left: 33px;
    }
    .thirdcheckbox p{
        margin-left: 40px;
    }
    .hz-che {
        display: none;
    }

    .maim-block {
        height: 700px;
    }
    
    .manpic{
        height: 100%;
        margin-top: 0;
        width: 182%;
        margin-top: 63px;
    }
    .mainblock{
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 0 !important;
    }
    .container .mainblock{
        padding: 0 !important;
    }
    .row .no-mobile-padding{
        padding: 0;
        margin:0;
        display: inline;
    }
    .mapp{
        height: 300px;
        width:auto;
    }
    .trapeciya img{
        height: 83%;
        width: 86%;
    
    }
    .mobilet {
        position: absolute;
        top: 195;
    }
    .bigtrapeciya img{
        height: 130px;
        width: 85%;
        
    }
    .trapeciya p{
        font-size: 18px;
        line-height: 34px;
    }
    .bigtrapeciya p{
        font-size: 22px;
        line-height: 34px;
    }
    .trapeciya{
        width: 55%;
            max-width: 373px;
        
    }
     #timer1646ddefd971d054289bd2626a40db6a{
        height: auto !important;
        min-width: 0 !important;
        text-align: center !important;
        display: block;
    }
    .bigtrapeciya{
        width: 85%;
        margin-top: 0;
        height: 100%;
        top: -31px;
        max-width: 670px;
    }
    .timerpic img {
        position: absolute;
        width: 70%;
        top: -13px;
        left: 50%;
        margin-left: -257px;
        height: auto;
        max-width: 516px;
    }
    .timer h3{
        font-size: 25px;
        margin-bottom: 25px;
        margin-top: 0px;
    }
    .tel2 input{
        display: block;
        margin: auto;
    }
    .yb button{
        margin-top: 32px;
    }
    #map{
        height: 300px;
    }
    .mobilet{
        margin-bottom: 20px !important;
    }
    .checkb {
        margin-left: 0 !important;
        margin-bottom: 0 !important;
        margin-top: 20 !important;
        text-align: center;
    }
    .checkb p{
       font-size: 14px;
       margin-top: 25px;
       margin-left: 10px;
    }
    .checkb label{
        position: absolute;
        margin-top: 25px;
        left: 50%;
        margin-left: -188px;
        bottom: 36px;
    }
    .fblock{
        height: auto;
        width: auto;
    }
    .row .no-mobile-padding{
        padding: 0 !important;
    }
    .timer h3{
        font-size: 18px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .trapeciya p:last-child{
        margin-bottom: 20px !important;
    }
    .bigtrapeciya p:last-child{
        margin-bottom: 20px !important;
    }
    .menu li:first-child a 
    {
     padding-left: 15px !important;
    }
    .navbar-nav{
        margin: 0 !important;
        text-align: center;
    }

    .gklogo img{
        width: 150px;
        left: 50%;
        position: absolute;
        margin-left: -75px;
    }
    .gklogo{
        text-align: center;
    }
    .number-zayavka{
        padding-top: 50px;
    }
    .foot-adress{
        padding-top: 40px;
        text-align: center;
    }
    .foot-adress p{
        text-align: center;
        margin-left: 0;
    }
    .foot-adress img{
        position: absolute;
        left: 50%;
        margin-left: -110px !important;
    }
    .prava{
        text-align: center;
    }
    .prava p{
        font-size: 9px;
    }
    .lf-text{
        padding-top: 20px;
        text-align: center;
    }
    .logo-factory{
        padding-top: 0;
        padding-left: 0;
        margin-top: 5px;
        text-align: center;
        padding-bottom: 20px;
    }
    .lf-text a{
        float: none;
        text-align: center;
        width: auto;
        height: auto;
        font-size: 9px;
    }
    .textonlogo{
        text-align: center;
    }
    .arrow{
        display: none;
    }
    .nav li{
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.2px;
    }
    .logotext{
        font-size: 25px;
    }
    .number-zayavka{
        padding: 0;
    }
    .foot-adress{
        padding: 0;
    }
    .navbutton2{
        font-size: 9px;
    }
    .number-zayavka a{
        font-size: 12px;
    }
    .foot-adress p{
        font-size: 12px;
    }
    .mail-padding a{
        font-size:12px;
    }
    .lilcircle2{
        margin-right: 0 !important;
        width: 28px;
        height: 28px;
    }
    .lilcircle2 i{
        line-height: 25px;
        font-size: 17px;
        width: 24px;
        height: 25px;
        padding-right: 0.5px;
    }
    .menu li:first-child a{
        padding-left: 0 !important;
}
}
@media(min-width: 992px) and (max-width: 1280px)
{
     .thirdcheckbox label{
         margin-left: 35px;
    }
    .thirdcheckbox p{
        margin-left: 40px;
    }
    .secondcheckbox label{
         margin-left: 0;
    }


    .mainblock{
        overflow: hidden;
    }
     .lilcircle2{
        margin-right: 0 !important;
        width: 28px;
        height: 28px;
    }
    .lilcircle2 i{
        line-height: 25px;
        font-size: 17px;
        width: 25px;
        height: 25px;
        padding-right: 1px;
    }
    .menu li:first-child a{
        padding-left: 0 !important;
}
}
@media(min-width: 992px) and (max-width: 999px)
{ 
   .logo-factory{
        padding-left: 240px !important;
    }
    .lf-text a{
        padding-left: 248px;
        float: left;
    }
    .timerpic img{
        width: 112%;
        right: auto;
        height: 190%;
        right: -6%;
    }
    .checkb {
        margin-left: 0 !important;
        margin-bottom: 0 !important;
        margin-top: 20 !important;
        text-align: center;
    }
    .checkb p{
       font-size: 14px;
       margin-top: 25px;
       margin-left: 10px;
    }
    .checkb label{
        position: absolute;
        margin-top: 25px;
        left: 50%;
        margin-left: -188px;
        bottom: 36px;
    }
}
@media(min-width: 999px) and (max-width: 1280px)
{ 
    .logo-factory{
        padding-left: 240px !important;
    }
    .lf-text a{

    }
    .timerpic img{
        width: 112%;
        right: auto;
        height: 190%;
        right: -6%;
    }
    .checkb {
        margin-left: 0 !important;
        margin-bottom: 0 !important;
        margin-top: 20 !important;
        text-align: center;
    }
    .checkb p{
       font-size: 14px;
       margin-top: 25px;
       margin-left: 10px;
    }
    .checkb label{
        position: absolute;
        margin-top: 25px;
        left: 50%;
        margin-left: -188px;
        bottom: 36px;
    }
}
@media(min-width: 992px) and (max-width: 1380px)
{ 
.arrow{
        display: none;      
    }

}



/* OFFER CSS */


.route_map {
    height: 500px;
    border-top: 4px solid #003463;
    position: relative;
    margin-top: 60px;
    background-color: black;
}

.route_map h2 {
    color: #ffffff;
    font-size: 37px;
    text-align: left;
    font-weight: 900;
    display: inline-block;
    background-color: #003463;
    padding: 15px;
    text-transform: uppercase;
    font-family: Roboto;
    margin-top: -37px;
    margin-bottom: 0;
    position: absolute;
    top: 0;
}

.offer_statistick {
    overflow: hidden;
    position: relative;
}

.offer_statistick img {
    width: 100%;
    position: absolute;
}

.offer_statistick_cont {
    position: relative;
}

.offer_statistick_cont p {
    font-family: Roboto;
    color:  #003463;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 40px!important;
    text-transform: uppercase;
}

.offer_statistick_cont p span {
    font-family: Roboto;
    color:  #003463;
    font-size: 42px;
    font-weight: 500;
}

.left_stick, .right_stick {
    position: absolute;
    width: 12px;
    height: 100%;
    background-color: white;
    top: 0;
}

.left_stick {
    left: 0;
}

.right_stick {
    right: 0;
}

.offer_calc_wrap {
    overflow: hidden;
}

.offer_calc_wrap input[type="checkbox"]{
    display: none;
}

.offer_calc_wrap input[type="checkbox"] + label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 40px;
    line-height: 28px;
    margin-bottom: 0;
}

.offer_calc_wrap input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 26px;
    height: 26px;
    border:2px solid #003463;
    border-radius: 3px;
}

.offer_calc_wrap input[type="checkbox"]:checked + label::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 26px;
    height: 26px;
    border:2px solid #003463;
    border-radius: 3px;
    background-image: url(/static/img/checkclick.png);
    background-repeat: no-repeat;
    background-position: center;
}

.offer_calc_wrap p, .offer_calc_wrap p label {
    font-family: Roboto;
    color:  #414141;
    font-size: 22px;
    font-weight: 300;

}

.offer_calc_wrap p span {
    font-family: Roboto;
    color:  #003463;
    font-size: 22px;
    font-weight: 500;
}

.offer_calculator p{
    margin-bottom: 20px!important;
}

.offer_calc_wrap > div {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #F4F4F4;
}

.offer_calc_wrap div:last-child {
    border-bottom: none;
}

.offer_dimensions input {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color:  #003463;
    padding: 5px;
    width: 121px;
    height: 56px;
    margin-left: 10px;
}

.offer_dimensions p {
    display: inline-block;
    margin-right: 20px;
}

.offer_calc_wrap h2 {
    font-family: Roboto;
    color:  #414141;
    font-size: 37px;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    text-transform: uppercase;
}


.offer_calculator input[type="text"] {
    border-style: solid;
    border-width: 1px;
    border-color:  rgba(0, 52, 99, 46);
    width: 36px;
    height: 29px;
    text-align: center;
    font-size: 20px;
}

.offer_calculator .plus, .offer_calculator .minus {
    width: 36px;
    height: 29px;
    background-color: #003463;
    color: white;
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
    font-size: 28px;
    cursor: pointer;
}

.offer_calculator .minus {
    border-radius: 5px 0px 0px 5px;
    margin-left: 10px;
    line-height: 30px;
}

.offer_calculator .plus {
    border-radius: 0px 5px 5px 0px;
    line-height: 28px;
}

.offer_form {
    font-family: Roboto;
    background-color: #003463;
    color:white;

}

.offer_form h2 {
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 0;
    font-size: 24px
}

.offer_form h2 span {
    text-transform: none;
    display: inline-block;
    margin-right: 20px;
    padding: 30px 30px 10px 30px;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    font-weight: 400;
    font-size: 30px;
}

.offer_form input {
    font-family: Roboto;
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 3px;
    padding-left: 10px;
    color: black;
    margin-bottom: 20px;
}

.offer_form button {
    background-color:  #ffd200;
    box-shadow: 0px 23px 54px 0px rgba(24, 19, 20, 0.39);
    border-radius: 3px;
    width: 100%;
    height: 60px;
    border: none;     
    text-align: center; 
    text-decoration: none;
    font-family: Roboto-Medium;
    font-size: 17px;
    color: #324d7c;
    letter-spacing: 0.7px;
    text-transform: uppercase;
}

.offer_form .centered {
    font-family: Roboto-Bold;
    font-size: 13px;
    font-weight: 400;
    position: relative;
    margin-bottom: 40px;
}

.offer_form .centered a {
    color: white;
    text-decoration: underline;
}

.offer_form input[type="checkbox"]{
    display: none;
}

.offer_form input[type="checkbox"] + label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 40px;
    line-height: 28px;
    margin-bottom: 0;
}

.offer_form input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 26px;
    height: 26px;
    border:2px solid #003463;
    background-color: white;
    border-radius: 3px;
}

.offer_form input[type="checkbox"]:checked + label::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 26px;
    height: 26px;
    border:2px solid #003463;
    border-radius: 3px;
    background-color: white;
    background-image: url(/static/img/checkclick.png);
    background-repeat: no-repeat;
    background-position: center;
}


.offer_insurance_item input[type="radio"]{
    display: none;
}

.offer_insurance_item input[type="radio"] + label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 40px;
    line-height: 28px;
    margin-bottom: 0;
}

.offer_insurance_item input[type="radio"] + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    border:3px solid #003463;
    background-color: white;
    border-radius: 50%;
}

.offer_insurance_item input[type="radio"]:checked + label::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    border:3px solid #003463;
    border-radius: 50%;
    background-color: #F5CB0A;
}

.offer_insurance_item {
    position: relative;
    display: inline-block;
    width: 9%;
}

.blue_bear {
    position: relative;
    width: 78px;
    height: 36px;
    background-color: #EFF0F2;
    font-family: Roboto;
    color:  #003463;
    font-size: 14px;
    font-weight: 500;
    line-height: 13px;
    text-align: right;
    padding: 5px;
    margin-bottom: 25px;
    cursor: pointer;
}

.blue_bear.active {
    background-color: #003463;
    color: white;
}

.blue_bear.active:before {
    content: "";
    width: 0; 
    height: 0;
    position: absolute;
    left: 0;
    bottom: -18px; 
    border-top: 0px solid transparent;
    border-bottom: 20px solid transparent;  
    border-left: 20px solid #003463;
} 

.blue_bear:before {
    content: "";
    width: 0; 
    height: 0;
    position: absolute;
    left: 0;
    bottom: -20px; 
    border-top: 0px solid transparent;
    border-bottom: 20px solid transparent;  
    border-left: 20px solid #EFF0F2;
}


.offer_insurance_active {
    margin-top: 20px;
    display: none;
}

.some_offer_class, .another_some_offer_class {
    overflow: hidden;
}

.offer_calculator_l, .offer_calculator_r {
        padding-left: 15px!important;
        padding-right: 15px!important;
    }

.offer_slider_wrap h1 {
    font-family: Roboto;
    color:  #ffffff;
    font-size: 37px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
}

.offer_slider_p_l p, .offer_slider_p_r p {
    display: inline-block;
    background-color: #002343;
    width: 300px;
    height: 60px;
    font-family: Roboto;
    color:  #ffffff;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    line-height: 60px;
    position: relative;
    z-index: 300;
}

.offer_slider_p_l p img , .offer_slider_p_r p img {
    width: 30px;
    margin-right: 10px;
}

.libe {
    position: absolute;
    width: 170%;
    left: 0;
    bottom: 50%;
    border-bottom: 2px dashed white;
    z-index: 200;
}

.offer_slider_p_l p {
    float: left;
}

.offer_slider_p_r p {
    float: right;
}

.nopadd {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.offer_slider_wrap {
    text-align: center;
}

.offer_slider_wrap button {
    width: 300px!important;
    height: 50px!important;
    margin-top: 20px!important;
    margin-bottom: 20px!important;
}

.offer_slider_wrap h1 {
    text-align: center;
}

.offer_car {
    position: absolute;
    width: 70px!important;
    left: 50%;
    margin-left: -35px;
    bottom: 50%;
    margin-bottom: 13px;
}

.offer_slider_wrap {
    background-color: rgba(0, 0, 0, 0.7);
}

#map_offer {
    width: 100%;
    height: 100%;
}

#map_offer img {

}




@media (min-width: 0px) and (max-width: 767px) {
    .left_stick, .right_stick {
        display: none;
    }
    .offer_statistick img {
        width: auto;
        height: 100%;
    }

    .offer_statistick_cont p {
        text-align: center;
    }

    .offer_calc_wrap {
        text-align: center;
    }

    .offer_dimensions {
        text-align: center;
    }

    .offer_dimensions p {
        margin-right: 0;
        margin-bottom: 20px!important;
    }

    .offer_calc_wrap p, .offer_calc_wrap p label {
        margin-left: 10px;
        margin-right: 10px;
    }

    .offer_dimensions p {
        margin: 0;
        display: block;
    }

    .offer_calc_wrap p span {
        display: block;
    }

    .offer_calc_wrap input[type="checkbox"] + label {
        display: block;
    }

    .offer_calculator .minus {
        margin-left: 40px;
        margin-top: 10px;
    }

    .offer_form h2 span {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        display: block;
        width: 100%;
    }

    .offer_form input[type="checkbox"] + label {
        margin-top: 20px;
    }

    .offer_insurance_item {
        width: 25%;
        margin-bottom: 35px;
        margin-left: 5px;
        margin-right: 5px;
        text-align: left;
    }

    .offer_slider_all {
        width: 100%!important;
        text-align: center;        
    }

    .offer_slider_wrap h1 {
        text-align: center;
        font-size: 20px!important;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .carousel1 .mocha-dino button {
        width: 100%!important;
        margin-top: 0!important;
        margin-bottom: 20px;
    }

    .offer_slider_p_l p, .offer_slider_p_r p {
        width: 100%;
        float: none;
        font-size: 23px;
        margin-bottom: 20px!important;
    }

    .libe, .offer_car {
        display: none;
    }

    .offer_slider_wrap {
        padding-top: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .offer_route_map {
        display: none;
    }

    .main1 {
        margin-bottom: 40px;
    }


}

@media (min-width:768px) and (max-width: 991px) {
    .offer_form h2 span {
        border: none;
        display: block;
        margin-bottom: 20px;
    }

    .offer_form {
        text-align: center;
    }

    .offer_insurance_item {
        width: 19%;
        margin-bottom: 35px;
    }

    .offer_statistick img {
        width: auto;
        height: 100%;
    }

    .offer_slider_wrap h1 {
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .carousel1 .mocha-dino button {
        margin-bottom: 20px;
    }

    .offer_slider_p_l p, .offer_slider_p_r p {
        width: 100%;
        float: none;
        font-size: 23px;
        margin-bottom: 20px!important;
    }

    .libe, .offer_car {
        display: none;
    }

    .offer_slider_wrap {
        padding-top: 20px;
        margin-top: 40px;
    }

}

@media (min-width:992px) and (max-width: 1199px) {
    .offer_statistick img {
        width: auto;
        height: 100%;
    }

     .offer_form h2 span {
        border: none;
        display: block;
        margin-bottom: 20px;
    }

    .offer_form {
        text-align: center;
    }

    .offer_slider_p_l p, .offer_slider_p_r p {
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 25px;
    }

    .offer_car {
        bottom: 50%;
        margin-bottom: -7px;
    }

}

.logo_header_menu {
    background-image: url(/static/img/logo-02.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 160px;
    height: 52px;
}

#menu1 .logo_header_menu {
    display: none;
}

#menu1.fixed .logo_header_menu {
    display: block;
}

.pbtr.timer_caller_hov {
    display: none!important;
    text-align: center;
}

.pbtr.timer_caller_hov a {
    text-decoration: none!important;
    font-family: Roboto-Medium;
    font-weight: 500;
    color: #ffd200;
}

.pbtr.timer_caller_hov a:hover {
    border-bottom: 3px dashed #ffd200;
}

.bigtrapeciya:hover .pbtr {
    display: none;
}

.bigtrapeciya:hover .pbtr.timer_caller_hov {
    display: block!important;
}