@font-face
{
    font-family: Roboto-Light;
    src: url(/static/fonts/Roboto-Light.ttf);
}

@font-face
{
    font-family: Roboto-Regular;
    src: url(/static/fonts/Roboto-Regular.ttf);
}


@font-face
{
    font-family: Roboto-Bold;
    src: url(/static/fonts/Roboto-Bold.ttf);
}

@font-face
{
    font-family: Roboto-Black;
    src: url(/static/fonts/Roboto-Black.ttf);
}

@font-face
{
    font-family: Roboto-Medium;
    src: url(/static/fonts/Roboto-Medium.ttf);
}

h1 , h2 {
    letter-spacing: 0.7px;
}

#prev, #next
{
    background-color: rgba(0,0,0, 0.5);
    width: 25px;
    height: 66px;
    text-align: center;
    position: absolute;
    top: 44.5%;
    bottom: 0;
    z-index: 3;
    cursor: pointer;
}

#prev:hover img, #next:hover img {
    opacity: 1;
}

#cswipe {
    z-index: 2000;
}

#prev
{
    left: 5px;
}

#next
{
    right: -10px;
}

#prev img, #next img
{
    width: auto;
    margin-top: 21px;
    opacity: 0.5;
}

#mob-col ul 
{
    padding: 0;
    list-style-type: none;
}

#mob-col ul li 
{
    margin-top: 10px;
}

#mob-col a:hover
{
    text-decoration: none;
}

#mob-col a
{
    color: #ffd200;
}

body
{
    height: 100%;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

button:hover{
    filter: sepia(80%);
    transition: 0.5s;
}
.full-width
{
    width: 100%;
    height: 100%;
}
#menu1{
    position: relative;
}

#menu1 .header-tel {
    display: none;
}

#menu1.fixed .header-tel {
    display: block;
    margin-left: 100px;
    color: #ffd200;
}

#menu1.fixed{
  position: fixed !important;
  z-index: 40;
  top: 0;
  left: 0;
}
#menu1.default{
  position: relative;
}

.form-group-header input, .form-group-footer input{
    height: 65px !important;
}

.slick-slide
{
    height: auto!important;
}

.pointer_a {
    cursor: pointer;
}

.main1 .row
{
    background-color: #ffffff;
}

.grey
{
    background-color: #eef0f2;
}

.centered
{
    text-align: center;
}

header 
{
    background-color: #003463;
}

header button
{
    border: none;
    border-radius: 3px;
    background-color: #ffd200;
    width: 235px;
    height: 52px;
    font-family: Roboto-Medium;
    color: #324d7c;
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    margin-top: 30px;
    letter-spacing: 0.7px;
}

header .navbar-toggle
{
    margin-right: 290px;
}

header .col-sm-3 h3
{
    font-family: Roboto-Regular;
    color: #ffd200;
    font-size: 27px;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 400;
    text-align: left;
    line-height: 79px;
    padding-left: 27px;
}

.buttxd {
    text-align: center;
}

.bangap {
    margin-bottom: 20px;
}

.mobilecontact-tel
{
    color: #ffd200;
}

.mobilecontact-tel a
{
    border: 0!important;
    color: #ffd200!important;
}

.mobilecontact-tel a:hover
{
    border-bottom: 1px dotted #ffd200!important;
}

.carousel1 
{
    display: none;
    position: relative;
    overflow: hidden;
}

.hcontainer ul li a:hover
{
    color: #ffd200!important;
}

header img
{
    display: block;
    margin: auto;
    padding-top: 8px;
}

.logo
{   
    padding-left: 30px!important;
}

.logo img {
    width: 100%;
}

.carousel-control.left, .carousel-control.right
{
    background-image: none!important;
    width: auto!important;
}

.contacts
{
    margin-top: 19px;
    padding-left: 40px!important;
}

.mocha-dino {
    position: absolute!important;
    top: 0px;
}

.slide-item {
    position: relative;
}


header .col-sm-3 h1
{
    font-family: Roboto-Black;
    color:  #ffd200!important;
    font-size: 32px;
    font-weight: 900!important;
    line-height: 6px;
    text-align: left;
    position: absolute;
    top: 25px;
    letter-spacing: 1.2px;
}

header .col-sm-3 h2
{
    font-family: Roboto-Medium;
    color:  #ffd200;
    font-size: 14.5px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
    letter-spacing: 0.5px;
    position: absolute;
    top: 55px;
    letter-spacing: 1.45px;
}

header .col-sm-12
{
    background-color: #002343;
    letter-spacing: 1px;
}

header .col-sm-12 a
{
    font-family: Roboto-Medium;
    font-size: 16px;
    color: #ffffff;
    border-bottom: 4px solid #002343;
    line-height: 18px!important;
}

.bot-pad
{
    padding-bottom: 11px;
}

header .col-sm-12 a:hover
{
    background-color: #002343;
    border-bottom-color: #ffd200;
    color: #ffd200;
}

header .col-sm-12 a:visited
{
    background-color: #002343;
}

header .col-sm-10
{
    font-family: Roboto-Regular;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin-left: -8px;
    letter-spacing: 0.4px;
}

header a
{
    line-height: 30px!important;
}

#adv5
{
    margin-top: 7px;
}
.mobilecontact{
    margin-bottom: 30px;
}

.car-cont
{
    position: relative;
    top: 40px;
    z-index: -4;
}

.carousel1 input
{
    height: 52px;
    border: 0;
}

.carousel1 img
{
    max-width: none!important;
}

.slick-slide > img {
    width:100%;
}

.carousel1 .mocha-dino button
{
    border-radius: 3px;
    background-color:  #ffd200;
    width: 140px;
    height: 43px;
    font-family: Roboto-Medium;
    color:  #324d7c;
    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.7px;
    border: 0;
}

.carousel1 .col-sm-7 h1
{
    background-color:  rgba(0, 52, 99, 0.78);
    font-family: Roboto-Black;
    color:  #ffffff;
    font-size: 37px;
    font-weight: 900;
    letter-spacing: 3px;
    margin-bottom: 0;
    padding-top: 17px;
    padding-left: 16px;
    padding-bottom: 17px;
    width: 92%;
}

.carousel1 .col-sm-7 h2
{
    background-color:  rgba(0, 29, 56, 0.77);
    font-family: Roboto-Regular;
    color:  #ffffff;
    font-size: 22px;
    font-weight: 400;
    margin-top: 0;
    padding-top: 23px;
    padding-left: 16px;
    padding-bottom: 20px;
    width: 63%;
}

.carousel1 .col-sm-5
{
    background-color:  rgba(0, 52, 99, 0.78);
    top: 10%;
    text-align: center;
    margin-top: 20px;
    padding: 40px;
}

.carousel1 .col-sm-5 button
{
    width: 307px;
    height: 52px;
    font-family: Roboto-Medium;
    color:  #324d7c;
    font-size: 17px;
    font-weight: 500;
    font-family: Roboto-Medium;
    color: #324d7c;
    line-height: 17px;
    letter-spacing: 0.7px;
}

.carousel1 input
{
    font-family: Roboto-Medium;
    color:  rgba(65, 65, 65, 1);
    font-size: 17px;
    font-weight: 500;
}

.main1 h2
{
    font-family: Roboto-Black!important;
    color:  rgba(66, 66, 66, 1)!important;
    font-size: 37px!important;
    font-weight: 900!important;
    margin-bottom: 0px!important;
    margin-top: 77px!important;
    letter-spacing: 3px;
}

.main1 p, .cont input, textarea
{
    font-family: Roboto-Light!important;
    color:  rgba(65, 65, 65, 1)!important;
    font-size: 17px!important;
    font-weight: 300!important;
    line-height: 24px!important;
    text-align: left;
    height: 56px;
    margin-bottom: 32px;
}

.main1 p {
    height: auto;
}

.main1 ul li 
{
    display: block;
    text-decoration: none!important;
    font-family: Roboto-Light;
    color:  rgba(65, 65, 65, 1);
    font-size: 17px;
    font-weight: 300;
    font-style: italic;
    line-height: 33px;
    text-align: left;
    letter-spacing: -0.55px;
}

.main1 ul
{
    padding: 0;
    margin-bottom: 67px;
}

.main1 ul li:before
{
    content: "";
    display: inline-block;
    height: 2px;
    width: 8px;
    background-color: rgb(255, 210, 0);
    margin-right: 5px;
    vertical-align: middle;
    margin-top: -1.5px;
}

.liline
{
    background-color: #eef0f2;
    width: 170px;
    height: 6px;
    margin-top: 19px;
    margin-bottom: 23px;
}

.adv21
{
    background-color: #eef0f2!important;
    font-family: Roboto-Light!important;
    font-weight: 500!important;
    text-align: left!important;
    font-size: 24px;
    color: #003463;
}

.adv21 p
{
    font-family: Roboto-Light;
    color:  rgba(65, 65, 65, 1);
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    text-align: left;
    margin-left: 190px;
}

.adv21 a
{
    font-family: Roboto-Medium;
    text-decoration: none!important;
    color: #003463;
    border-bottom: 2px dotted #003463;
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 2px;
}

.adv21 a:hover
{
    text-decoration: none;
    border-bottom: 2px dotted #003463;
}

.adv21 ul
{
    padding: 0;
    margin-bottom: 92px;
}

.adv21 ul li 
{
    display: block;
    text-decoration: none!important;
    margin-bottom: 20px;
}

.adv21 ul li img 
{
    display: inline-block;
}

.adv21 h1, .sotr h1, .cont h1
{
    font-family: Roboto-Black!important;
    color:  rgba(66, 66, 66, 0.48)!important;
    font-size: 37px!important;
    font-weight: 900!important;
    margin-bottom: 64px;
    margin-top: 93px;
    letter-spacing: 3px;
}

.adv21 .col-sm-2
{
    text-align: right;
}

.padd
{
    padding-top: 15px;
}

.dropdown-menu
{
    background-color: rgba(255, 255, 255, 0.85)!important;
    border-radius: 0px!important;
}

.dropdown-menu    
{
    padding: 0!important;
}

.dropdown-menu a
{
    font-family: Roboto-Medium!important;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    border: 0!important;
}



.dropdown-menu a:hover
{
    background-color: rgba(255, 255, 255, 0.85)!important;
    text-decoration: underline;
    text-decoration-color: #ffd200; 
    text-decoration-style: solid 2px;
}

.dropdown-menu a:visited
{
    background-color: rgba(255, 255, 255, 0.85)!important;
}

.tel h1
{
    font-family: Roboto-Black;
    color:  #ffffff;
    font-size: 37px;
    font-weight: 900;
    letter-spacing: 3px;
}

.tel a
{
    text-decoration: none!important;
    font-family: Roboto-Medium;
    color:  #ffd200;
    font-size: 59px;
    font-weight: 500;
    
}

.tel a:hover
{
    text-decoration: none!important;
    color:  #ffd200;
    border-bottom: 6px dashed #ffd200;
}

.tel a:visited
{
    text-decoration: none!important;
    color:  #ffd200;
}

.tel a:visited:hover
{
    text-decoration: none!important;
    color:  #ffd200;
    border-bottom-color: #ffd200;
}

tel a:focus
{
    text-decoration: none!important;
}

.tel .container-fluid
{
    height: 370px;
    overflow: hidden;
    position: relative;
}

.tel .container
{
    padding-top: 100px;
    position: relative;
}

.tel 
{
    overflow: hidden;
}

.tel img
{
    height: 100%;
    position: absolute;
}

.col-md-2
{
    width: 20%!important;
    display: inline;
}

.v-line
{
    margin: auto;
    height: 27px;
    width: 2px;
    background-color: #000;
}

.none_display_city {
    display: none;
}

.city_1_offer_saaa input, .city_2_offer_saaa input {
    display: inline-block;
    width: 100%;
    background-color: transparent;
    border:none;
    font-family: Roboto;
    color: white;
    opacity: 1;
    font-size: 20px;
    letter-spacing: 0.7px;
    font-weight: 900;
    line-height: 60px;
    text-transform: uppercase;
    cursor: pointer;
}

.city_1_offer_saaa input:hover, .city_2_offer_saaa input:hover {
    color: #ffd200;
}

.city_1_offer_saaa input:hover::-webkit-input-placeholder, .city_2_offer_saaa input:hover::-webkit-input-placeholder {
    color: #ffd200;
}


.city_1_offer_saaa input::-webkit-input-placeholder , .city_2_offer_saaa input::-webkit-input-placeholder {
    color:#ffd200;
    font-family: Roboto;
    color: white;
    opacity: 1;
    font-size: 25px;
    font-weight: 900;
    line-height: 60px;
    text-transform: uppercase;
}

.city_1_offer_saaa input:focus, .city_2_offer_saaa input:focus {
    border: none!important;
    outline: none!important;
    box-shadow: none;
    color: #ffd200;
}

.city_1_offer_saaa, .city_2_offer_saaa {
    padding-left: 50px;
}

.city_1_offer_saaa img, .city_2_offer_saaa img {
    position: absolute;
    margin: 0;
    left: 10px;
    top: 10px;
    width: 30px;
}



.carousel1_offer #f_forma_slajder {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
}

.lilcircle
{
    margin: auto;
    border: 2px solid #ffffff;
    width: 31px;
    height: 31px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
}

.lilcircle i
{
    line-height: 26.5px;
}

.circle
{   
    margin: auto;
    padding-top: 20px;
    border: 3px solid black;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
}

.no-padding
{
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.left-bord
{
    padding-top: 5px;
    margin-top: 10px;
    height: 137px;
    border-left: 2px solid #d1d7dd;
    padding-left: 13px;
    font-family: Roboto-Light;
    color:  rgba(65, 65, 65, 1);
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
}

.sotr .row
{
    margin-bottom: 97px;
}

#name, #num
{
    border-radius: 0px!important;
    border: 0!important;
    height: 64px!important;
    margin-bottom: 0px!important;
}

.modal label
{
    display: block;
    width: 450px;
    margin: auto;
    font-family: Roboto-Regular;
    color:  rgba(65, 65, 65, 1);
    font-size: 13px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
}

.modal label input
{
    margin-right: 5px;
}

#modal_name, #modal_phone, #modal_email
{
    border-radius: 0px!important;
    border: 0!important;
    height: 64px!important;
    margin-bottom: 0px!important;
    background-color: #eef0f2;
    width: 450px;
    margin: auto;
}

.modal-header
{
    background-color: #002343!important;
    
}

.modal-footer
{
    border:0!important;
}

.modal-title
{
    text-align: center;
    font-family: Roboto-Black;
    color:  #ffffff;
    font-size: 37px;
    font-weight: 900;
    height: 95px;
    letter-spacing: 3px;
    line-height: 3.5!important;
}

.header_fly button
{
    border: none;
    border-radius: 3px;
    background-color: #ffd200;
    width: 235px;
    height: 52px;
    font-family: Roboto-Medium;
    color: #324d7c;
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.7px;
    margin: auto;
}

.close
{
    color: #ffffff!important;
    font-size: 30px!important;
}

.modal .form-group
{
    text-align: center!important;
}

.modal-body
{
    padding-top: 40px!important;
    padding-left: 40px!important;
    padding-right: 40px!important;
}

textarea
{
    border-radius: 0px!important;
    border: 0!important;
    height: 143px!important;
    margin-bottom: 15px!important;
}

.cont .col-sm-12
{
    text-align: center;
}

.cont button
{
    border: none;
    border-radius: 3px;
    background-color: #ffd200;
    width: 326px;
    height: 64px;
    font-family: Roboto-Medium;
    color: #324d7c;
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    margin-bottom: 73px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.cont label
{
    font-family: Roboto-Regular;
    color:  rgba(65, 65, 65, 1);
    font-size: 13px;
    font-weight: 400;
}

.down
{
    background-color:  #002343;
    font-family: Roboto-Regular;
    font-size: 17px;
    color: #ffffff;
}

.down h1
{
    font-family: Roboto-Black;
    font-size: 37px;
    font-weight: 900;
    margin-bottom: 30px;
    margin-top: 30px;
    letter-spacing: 6px;
    color: #ffd200;
    cursor: pointer;
    display: inline-block;
    border-bottom: 6px dashed transparent;
}
.down h1:hover {
    border-bottom: 6px dashed #ffd200;
}
.down ul li
{
    display: inline-block;
    text-decoration: none;
    padding: 0;
}

.down a, header .col-sm-3 a
{
    text-decoration: none!important;
    font-family: Roboto-Regular;
    color:  #ffffff;
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
    border-bottom: 1px dotted #ffffff;
}

.down a:hover, header .col-sm-3 a:hover
{
    color:  #ffd200!important;
    text-decoration: none!important;
    border-bottom: 1px dotted #ffd200;
}

.down a:visited, header .col-sm-3 a:visited
{ 
    color:  #ffffff;
    text-decoration: none!important;
    border-bottom: 1px dotted #ffffff;
}

.down a:visited:hover, header .col-sm-3 a:visited:hover
{
    color:  #ffd200;
    text-decoration: none!important;
    border-bottom: 1px dotted #ffd200;
}

.down a:focus, header .col-sm-3 a:focus
{
    text-decoration: none!important;
}

.down img
{
    margin-right: 10px;
}

.down .lilcircle:hover
{
    border-color: #ffd200;
    color: #ffd200;
}

.down .col-sm-10
{
    padding-left: 0;
}

.navbar-toggle
{
    width: 50px!important;
    height: 50px!important;
    float: left!important;
}

.icon-bar 
{
    margin: auto;
}

@media (min-width:768px) and (max-width:780px)
{
    .carousel1 .col-sm-5
    {
        width: 40%;
    }
    #next
    {
        right: 0px;
    }
}

@media (min-width:0px) and (max-width:767px)
{
    #menu1.fixed .logo_header_menu, #menu1.fixed .header-tel {
        display:none!important;
    }

    .logo {
        padding-left: 0!important;
    }
    
    .mocha-dino {
        position:relative!important;
    }
    
    .carousel1_main .slick-slide > img {
        position:absolute;
        height:100%;
        width:auto;
    }

    #prev
    {
        left: -15px;
    }
    
    #next
    {
        right: -15px;
    }
    
    .car-cont .col-sm-5 form
    {
        margin-bottom: 0;   
    }
    
    .carousel1 .col-sm-5 button, .carousel1 .col-sm-5 input
    {
        height: 39px;
    }
    
    #arr i{
        margin-right: 15px;
        font-size: 25px;
}

    .dropdown-menu
    {
        display: none!important;
    }
    
    #arr{
    width: 35px;
    height: 35px;
}
a h1,h2{
    position: relative !important;
    text-align: center !important;
}
.logo h1{
    top: -80px !important;
}
.logo h2{
top: -75px !important;
}
    .tel .container-fluid {
        height: auto;
    }
    .mobilecontact{
    margin-bottom:0;
}
 #menu1.fixed{
    position: relative !important;
}
    
    .tel img {
        filter: blur(3px);
    }
    
    .left-bord
    {
        border: 0;
        height: auto;
        margin-bottom: 25px;
    }
    
    .adv21 ul li, .adv21 p
    {
        text-align: center!important;
    }
    
    .carousel1 .col-sm-7 h1
    {
        padding-left: 0px;
        font-size: 18px!important;
        padding-right: 0px!important;
    }
    
    .main1 h2
    {
        margin-top: 25px!important;
        text-align: center;
    }
    
    .liline
    {
        margin: auto;
        margin-bottom: 25px;
        margin-top: 25px;
    }
    
    .car-cont
    {
        top: 0px;
        text-align: center;
    }
    
    .carousel1 .col-sm-7 h1, .carousel1 .col-sm-7 h2
    {
        width: 100%;
        padding-right: 16px;
    }
    
    .carousel1 .col-sm-5
    {
        padding: 20px;
        margin-bottom: 25px;
    }
    
    .mocha-dino {
        top: 0!important;
    }
    
    .ponny-brother {
        position: absolute!important;
        height: 100%;
    }
    
   .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
       height: 100%!important;
    }
    
    .cont button
    {
        margin-bottom: 25px;
    }
    
    .down ul
    {
        padding: 0!important;
    }
    
    .modal-title
    {
        font-size: 22px;
    }
    
    .down .col-sm-3
    {
        margin-bottom: 25px;
        text-align: center;
    }
    
    .adv21 ul
    {
        margin-bottom: 0;
    }
    
    .main1 ul
    {
        margin-bottom: 25px;
    }
    
    .main1 p
    {
        text-align: center;
        margin-bottom: 25px;
    }
    
    .sotr .row
    {
        margin-bottom: 25px;
    }

    .contacts {
        padding-left: 0!important;
    }
    
    header .col-sm-3
    {
        padding: 0;
        text-align: center;
        margin: 0;
        margin-top: 15px;
        position: relative;
    }
    
    header button
    {
        margin: 0;
    }
    
    #modal_name, #modal_phone, #modal_email
    {
        width: 100%;
    }
    
    .main1 h2, .sotr h1
    {
        font-size: 25px!important;
    }
    
    .adv21 .col-sm-2
    {
        text-align: center;
    }
    
    .adv21 p
    {
        margin-left: 0px;
    }
    
    header .col-sm-3 h3
    {
        text-align: center;
        padding-left: 0px;
        line-height: 40px;
    }
    
    .tel h1
    {
        margin-top:20px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 22px;
    }

    
    .tel a
    {
        font-size: 30px;
        margin-bottom: 20px;
        display: inline-block;
    }
    
    .down h1, .adv21 h1, .sotr h1, .cont h1
    {
        margin-top:25px;
        margin-bottom: 25px;
    }
    
    header h1, header h2
    {
        position: relative;!important;
        text-align: center!important;
    } 
}

@media (min-width:768px) and (max-width:991px)
{
    #arr i{
        margin-right: 15px;
        font-size: 25px;
}
#arr{
    width: 35px;
    height: 35px;
}
    .navbar-nav li a{
            font-size: 9px;
    }
    #menu1.fixed{
    position: relative !important;
}
    .logo h2{
          top: 35px !important;
    }

    .logo img {
        display: block;
        margin: auto;
        width: 400px;
    }

    #menu1.fixed .logo_header_menu, #menu1.fixed .header-tel, .maim-block {
        display: none!important;
    }


    .carousel1_main .slick-list {
        height: 100%!important;
    }

    .carousel1_main .slide-item > img {
        position: absolute;
        height: 100%;
        width: auto;
    }

    .carousel1_main #prev , .carousel1_main #next {
        display: none;
    }

    .carousel1_main .mocha-dino {
        position: relative!important;
    }

    .carousel1_main .mocha-dino {
        height: 400px;
    }
    
    header .col-sm-3, .down .col-sm-3, .down .col-sm-10, .down .col-sm-2
    {
        width: 100%;
        text-align: center;
        padding: 0!important;
    }
       
    .down .col-sm-10
    {
        margin-bottom: 20px;
    }
    
    .carousel1 .col-sm-7 h1
    {
        font-size: 29px;
    }
    
    header .col-sm-3 h1, header .col-sm-3 h2 
    {
         position: relative;
        text-align: center;
    }
    
    header .col-sm-3 h3
    {
        padding: 0;
        text-align: center;
        line-height: 1;
        margin-top: 25px;
        margin-bottom: 25px;
        position: relative;

    }
    
    header button, .down ul
    {
        padding: 0;
        margin: 0;
        margin-bottom: 25px;
    }
    
    .contacts
    {
        margin-top: 0;
        margin: auto;
    }
    
    header .col-sm-2, header .col-sm-10
    {
        width: 100%;
    }
    
    header .col-sm-10
    {
        margin: 0;
    }
    
    .left-bord
    {
        border: 0;
        height: auto;
        margin-bottom: 25px;
    }
    
    .adv21 h1, .sotr h1, .cont h1
    {
        margin-bottom: 25px;
        margin-top: 25px;
    }
    
    .main1 h2
    {
        margin-top: 25px!important;
    }
    
    .adv21 ul
    {
        margin-bottom: 25px;
    }
    
    .sotr .row
    {
        margin-bottom: 25px;
    }
    
    .down h1
    {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

@media (min-width:0px) and (max-width:416px)
{
    .tel .container
    {
        padding-top: 0px;
    }
}

@media (min-width:417px) and (max-width:735px)
{
    .tel .container
    {
        padding-top: 0px;
    }

}

@media (min-width:736px) and (max-width:767px)
{
    .tel .container
    {
        padding-top: 0px;
    }
    
    .tel img {
        height: auto;
        width: 100%;
    }
}

@media (max-width:992px)
{
    .carousel1 .col-sm-5 button
    {
        width: 100%;
    }
}

@media (max-width:395px)
{
    .cont button
    {
        width: 100%;
    }
}

@media (min-width:768px) and (max-width:991px)
{
#arr i{
        margin-right: 15px;
        font-size: 25px;
}
#arr{
    width: 35px;
    height: 35px;
}
    #menu1.fixed{
    position: relative !important;
}
    .navbar-nav li a{
            font-size: 10px;
    }
    
    .adv21 p
    {
        margin-left: 120px;
    }
    
    .tel .container
    {
        padding-top: 65px;
    }
        .mobilecontact{
    margin-bottom:0;
}

}

@media (min-width:992px) and (max-width:1199px)
{
        .mobilecontact{
    margin-bottom:0;
}

.bot-pad .logo img{
     position: absolute;
     width: 100%;
}
#menu1.fixed{
    position: relative !important;
}

.carousel1_main .slick-list {
        height: 100%!important;
    }

    .carousel1_main .slide-item > img {
        position: absolute;
        height: 100%;
        width: auto;
    }

    .carousel1_main .mocha-dino {
        position: relative!important;
    }

    .carousel1_main .mocha-dino {
        height: 450px;
    }

.navbar-nav li a{
            font-size: 14px;
    }
    .adv21 p
    {
        margin-left: 157px;
    }
    
    .tel .container
    {
        padding-top: 75px;
    }
    
    header button
    {
        width: 90%;
    }
    
    header h1
    {
        font-size:  26px!important;
    }
    
    header h2
    {
        font-size:  11.5px!important;
    }
    
    header h3
    {
        font-size:  21px!important;
    }
    
    .down ul
    {
        padding: 0;
    }
    
    .down 
    {
        padding-bottom: 30px;
    }
}


@media (min-width: 1920px) {
    .tel img {
        height: auto;
        width: 100%;
    }

    .carousel1 img {
        width: 100%;
    }
}

@media (min-width: 0px) and (max-width: 490px)
{
    .col-sm-7 h2
    {
        padding: 2px!important;
    }
}

@media (min-width: 0px) and (max-width: 1919px)
{
    .tel .container
    {
        transform: translate(0%, 0%)!important;
    }
}

@media (min-width: 0px) and (max-width: 1199px)
{
    .front
    {
        transform: translate(0%, 0%)!important;
    }
}

@media (min-width: 430px)
{
    header .navbar-toggle
    {
        margin-right: 0;
    }
}

@media (min-width:767px)
{
    #mob-col
    {
        display: none;
    }
}


@media (min-width: 0px) and (max-width: 543px) {

    .carousel1_offer{
        height: 100%!important;
    }

    .slide_offer_img {
        position: absolute;
        height: 100%;
        width: auto!important;
    }
}

@media (min-width: 544px) and (max-width: 991px) {
    .carousel1_offer {
        height: 100%!important;
    }

    .slide_offer_img {
        position: absolute;
        height: 100%;
        width: auto!important;
    }    

}

@media (min-width: 768px) and (max-width: 991px) {
    .mocha-dino {
        position: relative!important;
    }

    .carousel1_offer {
        height: 100%!important;
    }

    .slide_offer_img {
        position: absolute;
        height: 100%;
        width: auto!important;
    }

    .carousel1_offer .slick-list {
        height: 100%!important;
    }

    .carousel1_offer .car-cont {
        top: 0;
    }
    .offer_slider_wrap {
        margin-bottom: 40px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
        .carousel1_offer {
        height: 340px!important;
    }
    
        .carousel1_offer .slick-list, .carousel1_offer .slick-slider {
        height:100%!important;
    }
    
    .carousel1_offer .slick-slide > img {
        width:auto;
        height:100%;
    }
    
      .carousel1_offer .slick-track {
        height:340px;
    }
    
    #menu1.fixed .logo_header_menu, #menu1.fixed .header-tel {
        display:none!important;
    }
}

@media (min-width: 0px) and (max-width: 543px) {
    .carousel1_main .slick-list {
        height: 100%!important;
    }
    
    .slick-list, .slick-slider {
        height:100%!important;
    }
    
    .carousel1_main .slick-slide > img {
        width:auto;
        height:100%;
    }

    .carousel1_main .mocha-dino {
        position: relative!important;
    }

    .carousel1_main .slick-slide img {
        position: absolute;
        height: 100%;
    }

    .carousel1_main #prev ,.carousel1_main #next {
        display: none;
    }

    h1 {
        font-size: 30px!important;
    }

    .logo img {
        width: 100%;
    }
}



.color_slider {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 20;
    background-color: white;
    filter: opacity(30%);
}

.color_zayava, .color_gori {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 20;
    background-color: white;
    filter: opacity(50%);
}

.color_zayava_upless, .offer_statistick_cont {
    z-index: 22;
}

.carousel1_offer {
    height: auto;
}


@media (min-width: 1200px) and (max-width: 1439px) {
    .carousel1_main .slick-list {
        height: 100%!important;
    }

    .carousel1_main .slide-item > img {
        position: absolute;
        height: 100%;
        width: auto;
    }

    .carousel1_main .mocha-dino {
        position: relative!important;
    }

    .carousel1_main .mocha-dino {
        height: 390px;
    }
}

.first_plashka_color, .second_plashka_color {
    width: 100%;
    height: 100%;
    position: absolute;
}