/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(42,101,154,0.9);
	z-index: 100000;
	overflow:auto;
	padding-bottom: 40px;
}

.overlay span {
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
}

.overlay ul {
	width: 100%;
	height: auto;
	font-family: Roboto-Light;
    color: white;
    font-size: 17px;
    font-weight: 300;
    padding-left: 40px;
}

.overlay .dotted {
	list-style-type: circle;
}

.overlay ul li {
	height: auto;
	width: auto;
}

.overlay p {
	font-family: Roboto-Light;
    color: white;
    font-size: 17px;
    font-weight: 300;
    padding-left: 15px;
    padding-right: 15px;
}

.overlay h2 {
	letter-spacing: 0.7px;
	font-family: Roboto-Medium;
    color:  white;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(/static/img/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-hugeinc nav {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.overlay-hugeinc nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}